
.userpic-yashina {
    background-image: url('../images/userpics/o-yashina.png');
}

.userpic-vasilchenko {
    background-image: url('../images/userpics/v-vasilchenko.png');
}

.userpic-neyaskin {
    background-image: url('../images/userpics/g-neyaskin.png');
}

.userpic-lebedev {
    background-image: url('../images/userpics/a-lebedev.png');
}

.userpic-andreev {
    background-image: url('../images/userpics/a-andreev.png');
}

.userpic-zhitsky {
    background-image: url('../images/userpics/s-zhitsky.png');
}

.userpic-sergeev {
    background-image: url('../images/userpics/d-sergeev.png');
}

.userpic-dann {
    background-image: url('../images/userpics/d-dann.png');
}

.userpic-konstantinopolsky {
    background-image: url('../images/userpics/k-konstantinopolsky.png');
}
