body {
    margin: 0;
    color: #788a8b;
    font-family: "Arial", sans-serif;
    background-color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header {
    display: flex;
    position: relative;
    justify-content: center;

    height: 100px;
    width: 100%;
    min-width: 1024px;
    border-bottom: 1px solid #eaecef;
    background: #fff;
    padding: 0;
    margin: 0;

    z-index: 5;

}


.header > div,
.header > form {
    display: flex;
    flex-shrink: 0;

}

.main-menu {
    display: flex;
    background: url('images/menu.png') 50% 50%/30px 24px no-repeat;
    width: 100px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    background: #283d51 url('images/logo.png') 50% no-repeat;
    background-size: contain;

    cursor: pointer;
}

.search-form {
    display: flex;
    max-width: 700px;
    min-width: 300px;
    flex-shrink: 3;
    flex-grow: 1;
    background: url('images/search-icon.png') 29px 50%/32px no-repeat;
    color: #bdc3c7;
    cursor: pointer;
}

.search-form__input {
    width: 100%;
    min-width: 100px;
    margin-left: 90px;
    margin-right: 20px;
    border: none;
    outline: none;
    height: 100%;
    font-size: 19px;
    line-height: 28px;
    font-family: "Museo-Sans-Cyr", sans-serif;
    color: #7f8c8d;

    flex-shrink: 3;
    flex-grow: 1;
}

.search-form__pop-up-input {
    display: none;
    outline: none;
    border: none;

    height: 70px;
    width: 100%;
    font-size: 26px;
    line-height: 32px;
    background-color: white;

    font-family: "Museo-Sans-Cyr", sans-serif;
    color: #7f8c8d;

    position: absolute;
    top: 70px;

    z-index: 4;
    padding: 0 10%;
}

.search-form__pop-up-input:focus{
}

.dark-layer {
    display: none;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;

    z-index: 4;

}


.question-button {
    width: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #283d51;
    color: white;
    font-family: "Museo-Sans-Cyr", sans-serif;
    font-size: 15px;
    line-height: 17px;

    cursor: pointer;
}

.question-button__quest {
    font-size: 30px;
    line-height: 28px;
}

.profile-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;

}

.profile-info__userpic {
    height: 80px;
    width: 80px;
    background: #ffffff url('images/userpic.jpg') -25px 20%/120px no-repeat;
    border-radius: 60px;

    cursor: pointer;
}

.profile-info__rating {
    padding-left: 20px;
    font-family: "Museo-Sans-Cyr", sans-serif;

}

.rating-text {
    color: #34495e;
    font-size: 12px;
}

.rating-number {
    color: #2ecc71;
    font-size: 34px;
}

.main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;
    width: 100%;

    align-items: center;

}

.filter {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    height: 130px;
    color: #bdc3c7;

    font-size: 19px;
    line-height: 28px;
    font-family: "Museo-Sans-Cyr", sans-serif;
    width: 100%;
    z-index: 1;
}

.filter-btn {
    min-width: 120px;
    width: auto;
    height: 70px;
    border-bottom: 1px solid #eaecef;
    padding: 0 30px 30px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;

}

.filter .current-section {
    color: #2ecc71;
    padding-bottom:26px;
    border-bottom: 4px solid #2ecc71;

    transition:  color 0.2s, border-bottom linear 0.2s;
}


.content {
    display: none;
    justify-content: center;
    align-self: center;

    height: auto;
    width: 85%;
    margin-bottom: 50px;
}

.content__column{
    width: 600px;
    border: 1px solid #eaecef;
    border-bottom: none;
    display: flex;
    flex-direction: column;
}

.content__left-column {
    border-right: none;
}

.content__right-column {
}

.quest-block {
    display: flex;
    flex-flow: column;
    padding: 30px 0 0;
    /*padding-bottom: 15px;*/
    border-bottom: 1px solid #eaecef;
}

.quest-block__info-bar,
.info-bar {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    max-width: 100%;

    flex-grow: 1;

    margin-left: 40px;
    margin-right: 40px;
}

.info-bar__subscr-button {
    display: flex;
    opacity: 0;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    z-index: -1;

    left: 2px;
    top: 0;
    padding-right: 20px;

    width: 134px;
    height: 30px;
    background-color: #2ecc71;
    color: #ffffff;
    font-size: 12px;
    border-radius: 15px;

    content: 'Подписаться';
    transition: all 0.3s;

}

.info-bar__subscr-counter {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    color: #2ecc71;
    border: #2ecc71 solid 2px;
    border-radius: 15px;
    font-size: 16px;
    line-height: 28px;

    width: 54px;
    height: 26px;

}

.info-bar__subscr-counter:after {
    display: flex;
    opacity: 0.5;
    width: 156px;
    height: 30px;

    position: absolute;
    left: -2px;
    top: -2px;
    z-index: 1;
    content: "";
    cursor: pointer;
}

.info-bar__subscr-counter:hover + .info-bar__subscr-button{
    opacity: 1;
}

.info-bar__date-theme {
    display: flex;
    font-size: 12px;
}

.info-bar__date {
    font-size: 12px;
    line-height: 14px;
    color: #c2c8cb;
}

.info-bar__theme {
    margin-right: 20px;
    margin-left: 20px;
    color: #2ecc71;
    cursor: pointer;
}

.quest-block__header {
    font-family: "GregorRegular", serif;
    color: #34495e;
    font-weight: normal;
    font-size: 28px;
    line-height: 30px;

    max-width: 100%;
    min-width: auto;
    flex-grow: 1;
    height: auto;
    margin: 30px 40px 10px;
    cursor: pointer;
}

.quest-block__who-answers {
    font-family: "Museo-Sans-Cyr", sans-serif ;
    font-size: 13px;
    line-height: 15px;
    color: #c2c8cb;
    margin-bottom: 0;
    min-width: 510px;

    margin-left: 40px;
    margin-right: 40px;
}

.who-answers__total,
.who-answers__reply{
    font-weight: bold;
    color: #7f8c8d;
}

.who-answers__reply {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    line-height: 14px;
}

.who-answers__reply:hover {
    color: #bdc3c7;
    cursor: pointer;
}

.ans-area {
    position: relative;
    margin-top: 20px;
    margin-bottom: 0;

    padding: 0;

}

.answer-block {
    display: block;
    position: relative;

    width: 100%;
    flex-grow: 1;

    list-style: none;

    padding-bottom: 15px;
    padding-top: 15px;
    transition: background-color linear 0.15s;
}

.answer-block__text:before {
    content: "—";
    position: absolute;
    left: 0;
    padding-left: 58px;
}

.answer-block__text {
    font-family: "GregorRegular", serif;
    color: #7f8c8d;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    padding-left: 80px;
    padding-right: 40px;
}

.answer-block:before {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 20px;
    background: url('images/arrow.png') 0 0/contain no-repeat;
    height: 40px;
    width: 10px;
    content: "";
    transition: all linear 0.1s;
}

.answer-block:hover::after,
.answer-block:hover::before{
    display: block;
}

.answer-block:hover {
    height: auto;
    width: 100%;
    background-color: #f5f7f8;
    cursor: pointer;
}

.quest-block .answer-block:last-child {
    padding-bottom: 30px;
}

.answer-block__pers-info {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: auto;
    margin-top: 10px;
    padding-left: 80px;
    padding-right: 150px;
}

.answer-block:after {
    display: none;
    content: "Читать полный ответ";
    font-size: 12px;
    line-height: 14px;
    color: #2ecc71;

    position: absolute;
    right: 40px;
    bottom: 20px;
    height: auto;

    transition: all linear 0.1s;
}

.answer-block:hover::after {
    display: block;
}

.pers-info__userpic {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    flex-shrink: 0;

    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
}
.pers-info__who {
}

.pers-info__name {
    font-size: 14px;
    line-height: 22px;
    color: #95a5a6;
    margin-right: 10px;

}

.pers-info__rating {
    font-size: 16px;
    line-height: 22px;
    color: #2ecc71;
}

.pers-info__who-role {
    font-size: 12px;
    line-height: 14px;
    color: #bdc3c7;
}



/*POP-UP SECTION */

.pop-up-wrapper {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    min-width: 100%;
    height: auto;
    background-color: #f4f5f6;
    top: 0;

    position: absolute;
    z-index: 1;
}


.visible {
    display: flex;
}


.pop-up-page {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    margin: 100px 50px 75px;
    max-width: 1200px;
    width: 85%;
    min-width: 50px;
    flex-grow: 1;
    flex-shrink: 1;
    z-index: 3;

    background-color: #fff;

}

.pop-up__close-icon {
    background-image: url("images/close-icon.png");
    position: absolute;
    right: 20px;
    top: 20px;
    width: 28px;
    height: 28px;
    z-index: 19;

    cursor: pointer;
}

.pop-up__question-area,
.pop-up__answer-area{
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 0 100px 70px;
    min-width: 10px;

    flex-shrink: 1;
}

.pop-up__answer-area{
    border-top: 1px solid #f4f5f6;
}

.pop-up__author{
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;

    flex-direction: column;
    padding-right: 100px;
    width: auto;
    max-width: 200px;
    min-width: 160px;
    height: 254px;

    margin-top: 200px;

}

.pop-up__author {
    margin-top: 170px;
}

.pop-up__userpic {
    height: 80px;
    width: 80px;
    cursor: pointer;
    background-size: contain;
}

.pop-up__authors-name {
    line-height: 22px;
    font-size: 16px;
    color: #95a5a6;

    max-height: 40px;
    padding-top: 20px;

    cursor: pointer;
    transition: all 0.3s;
}

.pop-up__authors-role {
    padding-top: 15px;
}

.pop-up__authors-rating {
    font-size: 21px;
    line-height: 21px;
    color: #2ecc71;
    padding-top: 15px;
    padding-bottom: 20px;
}

.pop-up__author .info-bar__subscr-button {
    display: flex;
    opacity: 0;
    position: absolute;
    top: 224px;
    justify-content: center;
    align-items: center;

    width: 100px;
    padding: 0;
    cursor: pointer;

    transition: all 0.3s;
}

.pop-up__author:hover > .info-bar__subscr-button {
    opacity: 1;
}

.pop-up__author:hover > .pop-up__authors-name{
    color: #34495e;
}


.question-card,
.answer-card{
    max-width: 900px;
    min-width: 00px;
    width: 100%;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 140px;
    flex-grow: 1;
    flex-shrink: 1;

}

.answer-card {
    margin-top: 110px;
}


.pop-up-page .info-bar,
.pop-up-page .quest-block__header,
.pop-up-page .quest-block__who-answers,
.pop-up__question-text,
.pop-up__answer-text {
    max-width: 700px;
    min-width: 0;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    margin-left: 0;
    margin-right: 0;

}



.pop-up-page .info-bar__subscr-counter {
    z-index: 2;
}

.pop-up-page .info-bar__subscr-button {
    z-index: 1;
    display: flex;
    opacity: 0;

    transition: all 0.3s;
}

.pop-up-page .info-bar__subscr-counter:after {
    width: 156px;
}

.pop-up-page .info-bar__subscr-counter:hover + .info-bar__subscr-button {
    opacity: 1;
}


.pop-up-page .quest-block__header {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 20px;
    cursor: auto;
}

.pop-up-page .quest-block__who-answers {
    line-height: 20px;
}

.pop-up__question-text,
.pop-up__answer-text {
    font-size: 23px;
    font-family: "GregorRegular", serif;
    color: #34495e;
    line-height: 35px;
}

.pop-up__question-text {
    margin-top: 70px;

}

.pop-up__answer-text {
    margin-top: 30px;
}

.pop-up__filter {
    height: 100px;
}

.pop-up__filter > div {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    height: 70px;
    align-items: flex-end;
    display: flex;
}


.backgr-pop-up {
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
}






.userpic-yashina {
    background-image: url('images/userpics/o-yashina.png');
}

.userpic-vasilchenko {
    background-image: url('images/userpics/v-vasilchenko.png');
}

.userpic-neyaskin {
    background-image: url('images/userpics/g-neyaskin.png');
}

.userpic-lebedev {
    background-image: url('images/userpics/a-lebedev.png');
}

.userpic-andreev {
    background-image: url('images/userpics/a-andreev.png');
}

.userpic-zhitsky {
    background-image: url('images/userpics/s-zhitsky.png');
}

.userpic-sergeev {
    background-image: url('images/userpics/d-sergeev.png');
}

.userpic-dann {
    background-image: url('images/userpics/d-dann.png');
}

.userpic-konstantinopolsky {
    background-image: url('images/userpics/k-konstantinopolsky.png');
}

@keyframes pop-up-appear {
    0% {transform: translateY(-150px);}
    100% {transform: translateY(0px);}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes pop-up-disappear{
    0% {transform: translateY(0);}
    100% {transform: translateY(-150px);}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes popUpSearchAppears {
    0% { padding: 0; width: 0;}
    100% {width: 100%;}
}

@keyframes popUpSearchDisappears {
    0% {width: 100%;}
    100% {padding: 0; width: 0;}
}

@keyframes darkFadeIn {
    0% {opacity: 0;}
    100% {opacity: 0.6;}
}

@keyframes darkFadeOut {
    0% { opacity: 0.6;}
    100% {opacity: 0;}
}


@font-face {
    font-family: "GregorRegular";
    src: url("/fonts/GregorRegular/GregorRegular.eot");
    src: url("/fonts/GregorRegular/GregorRegular.eot?#iefix")format("embedded-opentype");
    /*url("/fonts/GregorRegular/GregorRegular.woff") format("woff"),*/
    /*url("/fonts/GregorRegular/GregorRegular.ttf") format("truetype");*/
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Museo-Sans-Cyr";
    /*src: url("/fonts/Museo-Sans-Cyr/MuseoSansCyrl_1.otf");*/
    font-style: normal;
    font-weight: normal;
}

@media screen and (max-width: 1415px){
    .content {
        flex-wrap: wrap;
    }

    .quest-block {
        border: 1px solid #eaecef;
        margin-top: -1px;
    }

    .content__column {
        border: none;
    }

    .pop-up__author {
        max-width: 100%;
    }

    .dark-layer {
        /*display: none;*/
    }

    .search-form__pop-up-input {
        top: 100px;
        /*display: none;*/
    }

}

@media screen and (max-width: 1024px) {


    .header {
        min-width: 300px;
        width: 100%;
    }

    .header > div,
    .header > form {
        min-width: 100px;
    }


    .search-form {
        min-width: 200px;
    }

    .header > .profile-info,
    .header > .logo {
        max-width: 200px;
        min-width: 100px;
        flex-shrink: 1;
    }

    .profile-info__rating {
        display: none;
    }

    .filter {
        height: 100px;
    }

    .filter-btn {
        margin-bottom: 0;
        min-width: 166px;
        padding: 0px 0 29px;
    }

    .content,
    .filter {
        min-width: 320px;
        max-width: 600px;
        flex-shrink: 1;
    }

    .content__column {
        border: none;
        width: 100%;
        align-items: center;
    }

    .quest-block {
        border: 1px solid #eaecef;
        margin-top: -1px;

        width: 100%;
    }

    .quest-block__who-answers,
    .answer-block__text,
    .answer-block__pers-info {
        max-width: 100%;
        min-width: 100px;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .pop-up-wrapper {
        min-width: 100%;
    }

    .pop-up__author {
        padding-right: 50px;
        flex-shrink: 1;
        min-width: 150px;
    }

    .pop-up-page {
        margin-left: 0;
        margin-right: 0;
    }

    .pop-up__question-area,
    .pop-up__answer-area {
        padding: 0 70px 50px;
        /*max-width: 400px;*/

    }

    .pop-up-page .quest-block__header {
        font-size: 26px;
        line-height: 27px;
    }

    .pop-up__question-text,
    .pop-up__answer-text {
        font-size: 20px;
        line-height: 27px;
    }

    .pop-up__filter {
        align-self: center;
    }
}


@media screen and (max-width: 767px) {
    .header {
        min-width: 220px;
        max-width: 100%;
        height: 70px;
    }

    .header > div,
    .header > form {
        max-width: 70px;
        width: 60px;
        min-width: 60px;
        flex-grow: 1;
    }

    .header > .search-form {
        min-width: 70px;
        max-width: 500px;
        flex-grow: 1;
        flex-shrink: 1;
        background-position: 9px;
    }

    .search-form__input {
        font-size: 16px;
        margin-right: 0;
        margin-left: 50px;
    }

    .search-form__pop-up-input {
        top: 70px;
    }

    .header > .logo,
    .header > .profile-info {
        max-width: 200px;
        min-width: 60px;
        flex-grow: 1;
    }

    .header > .profile-info {
        max-width: 150px;
    }

    .answer-block__pers-info {
        padding-right: 0;
    }


    .profile-info__userpic {
        height: 60px;
        width: 60px;
        background-size: 120%;
        background-position: 50% 0;

    }

    .question-button {
        font-size: 12px;
    }

    .question-button__quest {
        font-size: 22px;
    }

    .main {
        min-width: 320px;
        width: 100%;
        flex-wrap: nowrap;

        flex-grow: 1;
        flex-shrink: 1;
    }


    .filter-btn {
        flex-grow: 1;
        min-width: 50px;

        padding-right: 10px;
        padding-left: 10px;

        font-size: 18px;
    }

    .quest-block {
        min-width: 30px;
    }

    .answer-block:hover:after {
        display: none;
    }

    .pop-up__question-area,
    .pop-up__answer-area {
        padding: 0 30px 50px;
        min-width: 300px;
        max-width: 100%;

        flex-direction: column-reverse;
    }

    .question-area__question-card,
    .answer-area__answer-card {
        margin-top: 80px;
    }


    .pop-up__author {
        min-width: 130px;
        max-width: auto;
        padding-right: 0;
        margin-top: 50px;
        max-height: 106px;
        padding-left: 120px;
    }


    .pop-up__authors-name {
        font-size: 14px;
        padding-top: 0;
    }

    .pop-up__authors-name,
    .pop-up__authors-role,
    .pop-up__authors-rating {
        padding-top: 10px;
    }

    .pop-up__authors-rating {
        padding-bottom: 0;
    }

    .pop-up__authors-name {
        padding-top: 0;
    }

    .pop-up__userpic {
        width: 66px;
        height: 66px;
        position: absolute;
        top: 0;
        left: 22px;
    }

    .pop-up__author .info-bar__subscr-button {

        top: 76px;
    }

    .pop-up__filter > div {
        max-width: 100px;
        height: 50px;
        padding-top: 20px;
    }
}

@media screen and (max-width: 600px) {

    .header > .search-form {
        max-width: 70px !important;
        background-position: 50% 50% ;
    }

    .search-form__input {
        display: none;
    }

    .info-bar__theme {
        margin-right: 0;
        margin-left: 10px;
    }
}

@media screen and (max-width: 440px) {
    .quest-block {
        border-left: none;
        border-right: none;
    }

    .content .quest-block__info-bar,
    .content .quest-block__header,
    .content .quest-block__who-answers,
    .content .answer-block__text,
    .content .answer-block__pers-info {

        padding-right: 0;
        margin-right: 15px;
        margin-left: 15px;
    }

    .content .answer-block__text,
    .content .answer-block__pers-info {
        padding-left: 30px;
    }

    .content .answer-block__text:before {
        padding-left: 18px;

    }


    .pop-up-page {
        max-width: 400px;
        width: 100%;
        min-width: 50px;
    }

    .pop-up__question-area,
    .pop-up__answer-area {
        padding: 0 20px;
        min-width: 20px;
        max-width: 400px;
    }

    .pop-up__author {
        max-width: 300px;
    }


    .pop-up__filter > div {
        max-width: 86px;
        padding: 20px 10px 30px;
    }


}