body {
    margin: 0;
    color: #788a8b;
    font-family: "Arial", sans-serif;
    background-color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header {
    display: flex;
    justify-content: center;

    height: 100px;
    width: 100%;
    min-width: 1024px;
    border-bottom: 1px solid #eaecef;
    background: #fff;
    padding: 0;
    margin: 0;
}


.header > div,
.header > form {
    display: flex;
    flex-shrink: 0;

}

.main-menu {
    display: flex;
    background: url('images/menu.png') 50% 50%/30px 24px no-repeat;
    width: 100px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    background: #283d51 url('images/logo.png') 50% no-repeat;
    background-size: contain;

    cursor: pointer;
}

.search-form {
    max-width: 700px;
    min-width: 300px;
    flex-shrink: 3;
    flex-grow: 1;
    background: url('images/search-icon.png') 25px 50%/50px no-repeat;
    color: #bdc3c7;
}

.search-form__input {
    width: 100%;
    margin-left: 100px;
    border: none;
    outline: none;
    height: 100%;
    font-size: 19px;
    line-height: 28px;
    font-family: "Museo-Sans-Cyr", sans-serif;
}

.question-button {
    width: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #283d51;
    color: white;
    font-family: "Museo-Sans-Cyr", sans-serif;
    font-size: 15px;
    line-height: 17px;

    cursor: pointer;
}

.question-button__quest {
    font-size: 30px;
    line-height: 28px;
}

.profile-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;

}

.profile-info__userpic {
    height: 80px;
    width: 80px;
    background: #ffffff url('images/userpic.jpg') -25px 20%/120px no-repeat;
    border-radius: 60px;

    cursor: pointer;
}

.profile-info__rating {
    padding-left: 20px;
    font-family: "Museo-Sans-Cyr", sans-serif;

}

.rating-text {
    color: #34495e;
    font-size: 12px;
}

.rating-number {
    color: #2ecc71;
    font-size: 34px;
}

.main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;
    width: 100%;

    align-items: center;

}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 130px;
    color: #bdc3c7;

    font-size: 19px;
    line-height: 28px;
    font-family: "Museo-Sans-Cyr", sans-serif;
    width: 100%;
    z-index: 1;
}

.nav-btn {
    min-width: 120px;
    width: auto;
    height: 70px;
    border-bottom: 1px solid #eaecef;
    padding: 0 30px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.current-section {
    color: #2ecc71;
    height: 67px;
    border-bottom: 4px solid #2ecc71 !important;
}

.content {
    display: flex;
    justify-content: center;
    align-self: center;

    height: auto;
    width: 85%;
    margin-bottom: 50px;
}

.content__column{
    width: 600px;
    border: 1px solid #eaecef;
    border-bottom: none;
    display: flex;
    flex-direction: column;
}

.content__left-column {
    border-right: none;
}

.content__right-column {
}

.quest-block {
    display: flex;
    flex-flow: column;
    padding: 30px 0 15px;
    border-bottom: 1px solid #eaecef;
}

.quest-block__info-bar,
.info-bar {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    max-width: 100%;

    flex-grow: 1;

    margin-left: 40px;
    margin-right: 40px;
}

.info-bar__subscr-button {
    display: none;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    z-index: -1;

    left: 2px;
    top: 0;
    padding-right: 20px;

    width: 134px;
    height: 30px;
    background-color: #2ecc71;
    color: #ffffff;
    font-size: 12px;
    border-radius: 15px;

    content: 'Подписаться';
}

.info-bar__subscr-counter {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    color: #2ecc71;
    border: #2ecc71 solid 2px;
    border-radius: 15px;
    font-size: 16px;
    line-height: 28px;

    width: 54px;
    height: 26px;

}

.info-bar__subscr-counter:after {
    display: flex;
    opacity: 0.5;
    width: 156px;
    height: 30px;

    position: absolute;
    left: -2px;
    top: -2px;
    z-index: 10;
    content: "";
    cursor: pointer;
}

.info-bar__subscr-counter:hover + .info-bar__subscr-button{
    display: flex;
}

.info-bar__date-theme {
    display: flex;
    font-size: 12px;
}

.info-bar__date {
    font-size: 12px;
    line-height: 14px;
    color: #c2c8cb;
}

.info-bar__theme {
    margin-right: 20px;
    margin-left: 20px;
    color: #2ecc71;
    cursor: pointer;
}

.quest-block__header {
    font-family: "GregorRegular", serif;
    color: #34495e;
    font-weight: normal;
    font-size: 28px;
    line-height: 30px;

    max-width: 100%;
    min-width: auto;
    flex-grow: 1;
    height: auto;
    margin: 30px 40px 10px;
}

.quest-block__who-answers {
    font-family: "Museo-Sans-Cyr", sans-serif ;
    font-size: 13px;
    line-height: 15px;
    color: #c2c8cb;
    margin-bottom: 0;
    min-width: 510px;

    margin-left: 40px;
    margin-right: 40px;
}

.who-answers__total,
.who-answers__reply{
    font-weight: bold;
    color: #7f8c8d;
}

.who-answers__reply {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    line-height: 14px;
}

.who-answers__reply:hover {
    color: #bdc3c7;
    cursor: pointer;
}

.ans-area {
    position: relative;
    margin-top: 20px;
    margin-bottom: 0;

    padding: 0;

}

.answer-block {
    display: block;
    position: relative;

    width: 100%;
    flex-grow: 1;

    list-style: none;

    padding-bottom: 15px;
    padding-top: 15px;
    transition: background-color linear 0.15s;
}

.answer-block__text:before {
    content: "—";
    position: absolute;
    left: 0;
    padding-left: 58px;
}

.answer-block__text {
    font-family: "GregorRegular", serif;
    color: #7f8c8d;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    padding-left: 80px;
    padding-right: 40px;
}

.answer-block:before {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 20px;
    background: url('images/arrow.png') 0 0/contain no-repeat;
    height: 40px;
    width: 10px;
    content: "";
    transition: all linear 0.1s;
}

.answer-block:hover::after,
.answer-block:hover::before{
    display: block;
}

.answer-block:hover {
    height: auto;
    width: 100%;
    background-color: #f5f7f8;
    cursor: pointer;
}

.answer-block__pers-info {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: auto;
    margin-top: 10px;
    padding-left: 80px;
    padding-right: 40px;
}

.answer-block:after {
    display: none;
    content: "Читать полный ответ";
    font-size: 12px;
    line-height: 14px;
    color: #2ecc71;

    position: absolute;
    right: 40px;
    bottom: 20px;
    height: auto;

    transition: all linear 0.1s;
}

.answer-block:hover::after {
    display: block;
}

.pers-info__userpic {
    height: 40px;
    width: 40px;
    margin-right: 10px;

    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
}
.pers-info__who {
}

.pers-info__name {
    font-size: 14px;
    line-height: 22px;
    color: #95a5a6;
    margin-right: 10px;

}

.pers-info__rating {
    font-size: 16px;
    line-height: 22px;
    color: #2ecc71;
}

.pers-info__who-role {
    font-size: 12px;
    line-height: 14px;
    color: #bdc3c7;
}



/*POP-UP SECTION */

.pop-up-wrapper {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    background-color: #f4f5f6;
    top: 0;

    position: absolute;
    z-index: auto;
}

.pop-up-wrapper_visible {
    display: flex;
}

.pop-up-page {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    margin: 100px 100px 75px;

    background-color: #fff;
}

.pop-up__close-icon {
    background-image: url("images/close-icon.png");
    position: absolute;
    right: 20px;
    top: 20px;
    width: 28px;
    height: 28px;
    z-index: 19;
}

.pop-up-page .info-bar {
    max-width: 700px;
}

.pop-up-page .info-bar__subscr-counter {
    z-index: 2;
}

.pop-up-page .info-bar__subscr-button {
    z-index: 1;
    display: none;
}

.pop-up-page .info-bar__subscr-counter:after {
    width: 156px;
}

.pop-up-page .info-bar__subscr-counter:hover + .info-bar__subscr-button {
    display: flex;
}

.pop-up__question-area,
.pop-up__answer-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pop-up__author{
    position: relative;
    margin-left: 100px;
    margin-top: 170px;
    width: 210px;
    height: 254px;

    padding-left: 10px;
}

.pop-up__userpic {
    height: 80px;
    width: 80px;
    cursor: pointer;
}

.pop-up__authors-name {
    line-height: 22px;
    font-size: 16px;
    color: #95a5a6;

    max-height: 40px;
    padding-top: 20px;

    cursor: pointer;
}

.pop-up__authors-role {
    padding-top: 15px;
}

.pop-up__authors-rating {
    font-size: 21px;
    line-height: 21px;
    color: #2ecc71;
    padding-top: 15px;
    padding-bottom: 20px;
}

.pop-up__author .info-bar__subscr-button {
    display: none;
    position: absolute;
    top: 224px;
    left: 10px;
    justify-content: center;
    align-items: center;

    width: 100px;
    padding: 0;
    cursor: pointer;
}

.pop-up__author:hover > .info-bar__subscr-button {
    display: flex;
}


.question-area__author {
    margin-top: 200px;
}

.question-card,
.answer-card{
    margin-top: 110px;
    margin-left: 100px;
    margin-right: 100px;
    width: 700px;
    height: 100%;
}

.question-card {
    margin-top: 140px;
}

.pop-up-page .quest-block__header {
    font-size: 42px;
    line-height: 50px;
    width: 700px;
    margin-bottom: 20px;
}

.pop-up-page .quest-block__who-answers {
    width: 600px;
    line-height: 20px;
}

.pop-up__question-text,
.pop-up__answer-text{
    width: 700px;
    font-size: 23px;
    font-family: "GregorRegular", serif;
    color: #34495e;
    line-height: 35px;

    margin-top: 70px;
    margin-bottom: 70px;
}

.pop-up__answer-text {
    margin-top: 30px;
}

.pop-up__filter {
    margin-top: 20px;
    height: 100px;
}

.pop-up__filter > div {
    margin-bottom: 0;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.pop-up__answer-area{
    border-top: 1px solid #f4f5f6;
    width: 100%;
}





.userpic-yashina {
    background-image: url('images/userpics/o-yashina.png');
}

.userpic-vasilchenko {
    background-image: url('images/userpics/v-vasilchenko.png');
}

.userpic-neyaskin {
    background-image: url('images/userpics/g-neyaskin.png');
}

.userpic-lebedev {
    background-image: url('images/userpics/a-lebedev.png');
}

.userpic-andreev {
    background-image: url('images/userpics/a-andreev.png');
}

.userpic-zhitsky {
    background-image: url('images/userpics/s-zhitsky.png');
}

.userpic-sergeev {
    background-image: url('images/userpics/d-sergeev.png');
}

.userpic-dann {
    background-image: url('images/userpics/d-dann.png');
}

.userpic-konstantinopolsky {
    background-image: url('images/userpics/k-konstantinopolsky.png');
}

@font-face {
    font-family: "GregorRegular";
    src: url("/fonts/GregorRegular/GregorRegular.eot");
    src: url("/fonts/GregorRegular/GregorRegular.eot?#iefix")format("embedded-opentype");
    /*url("/fonts/GregorRegular/GregorRegular.woff") format("woff"),*/
    /*url("/fonts/GregorRegular/GregorRegular.ttf") format("truetype");*/
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Museo-Sans-Cyr";
    /*src: url("/fonts/Museo-Sans-Cyr/MuseoSansCyrl_1.otf");*/
    font-style: normal;
    font-weight: normal;
}

@media screen and (max-width: 1415px){
    .content {
        flex-wrap: wrap;
    }

    .quest-block {
        border: 1px solid #eaecef;
        margin-top: -1px;
    }

    .content__column {
        border: none;
    }

}

@media screen and (max-width: 1024px) {


    .main {
        width: 600px;
    }

    .header {
        min-width: 300px;
        width: 100%;
    }

    .header > div,
    .header > form {
        min-width: 100px;
    }


    .search-form {
        min-width: 200px;
        flex-grow: 1;
        flex-shrink: 1;

        background-position: 0;
        background-size: 50px;
    }
    .header > .search-form > input {

        margin-left: 50px;
    }

    .header > .profile-info,
    .header > .logo {
        max-width: 200px;
        min-width: 150px;
        flex-shrink: 1;
    }

    .profile-info__rating {
        display: none;
    }

    .navigation {
        height: 100px;
        align-items: flex-end;
    }

    .nav-btn {
        margin-bottom: 0;
        min-width: 166px;
        padding: 30px 0 0;
    }

    .content {
        width: 100%;
    }

    .content__column {
        border: none;
        width: 100%;
        align-items: center;
    }

    .quest-block {
        border: 1px solid #eaecef;
        margin-top: -1px;

        width: 100%;
    }

    .quest-block__who-answers,
    .answer-block__text,
    .answer-block__pers-info {
        max-width: 100%;
        min-width: 100px;
        flex-grow: 1;
        flex-shrink: 1;
    }
}



@media screen and (max-width: 767px) {
    .header {
        min-width: 220px;
        max-width: 100%;
        height: 70px;
    }

    .header > div,
    .header > form {
        max-width: 70px;
        width: 60px;
        min-width: 60px;
        flex-grow: 1;
    }

    .header > .search-form {
        min-width: 80px;
        max-width: 500px;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .search-form > input {
        font-size: 16px;
    }

    .header > .logo,
    .header > .profile-info {
        max-width: 150px;
        min-width: 60px;
        flex-grow: 1;
    }

    .profile-info__userpic {
        height: 60px;
        width: 60px;
        background-size: 120%;
        background-position: 50% 0;

    }

    .question-button {
        font-size: 12px;
    }

    .question-button__quest {
        font-size: 22px;
    }

    .main {
        min-width: 320px;
        width: 100%;
        flex-wrap: nowrap;

        flex-grow: 1;
        flex-shrink: 1;
    }

    .navigation {
        max-width: 350px;
        min-width: 220px;
        flex-grow: 1;
    }

    .nav-btn {
        min-width: 80px;

        font-size: 18px;
    }

    .quest-block {
        min-width: 30px;
    }

    .answer-block:hover:after {
        display: none;
    }
}
